<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @films[2].title %></h1>
    <h2>Tickets -> £<%= @films[2].price %> each</h2>
    <br>
    <p>
      <a href="/films"><-- Back to the Film List</a>
    </p>
  </body>
</html>
